.phone_img {
    background-image: url('../images/phone.png');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 320px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/background.jpg');
    width: 100%;
}

fieldset {
    border: 0;
}

.week-day {
    display: table-row;
}

.nextweek {
    display: none;
}

.opacity_blocks {
    opacity: 0.65;
}

.central-container h2 {
    font-family: notperfect;
    font-size: 30px;
}

.central-container h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 50px;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    outline: 0;
    padding: 0;
    border: 0;
}

.customer_data {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    padding-top: 45px;
    color: #ffffff;
}

.customer_data label {
    align-self: center;
}

.customer_data .fixed-container {
    display: flex;
    flex-direction: column;
    width: 242px;
}

.customer_data input {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 0 auto;
    height: 45px;
    width: 242px;
}

.fixed-container {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.akrobat {
    font-family: akrobat;
}

.phone {
    padding: 15px 15%;
    box-shadow: 4px 8px;
    background-color: #fedadd;
    font-family: notperfect;
    font-size: 20px;
}

.phone a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
    vertical-align: middle;
}

.phone_img {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px 30px;
    width: 225px;
    height: 30px;
    margin: 0 auto;
}

.central-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.record-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.record-container span {
    opacity: 1;
    color: black;
    font-family: akrobat;
    width: 232px;
    margin: 0 auto;
}

.next {
    padding: 10px 55px 10px 35px;
    width: 40px;
    height: 30px;
    border-radius: 25px;
    background-color: #ffffff;
    color: black;
    font-style: akrobat;
    font-size: 25px;
    font-stretch: condensed;
    align-self: flex-end;
}

.customer_data select {
    margin-top: 10px;
    margin-bottom: 14px;
    width: 140px;
    font-size: 13.5px;
}

.month-select-wrapper {
    margin-top: 15px;
    padding-left: 15px;
}

.calendar .service-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    padding-right: 12px;
    background: url('../images/arrow.png') no-repeat 96% 50%;
    background-size: 15px;
    background-color: #fff4f4;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    border: 0;
}

.calendar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -240px;
    width: 600px;
    min-height: 480px;
    background-color: #fff4f4;
    border-radius: 25px;
    margin-left: -300px;
    padding-bottom: 15px;
}

.calendar li {
    list-style-type: none;
    font-size: 12px;
}

.calendar-header {
    padding-left: 53px;
}

.calendar table tbody tr {
    display: inline-block;
    max-width: 366px;
    ;
}

.cal .calendar-header tr td {
    padding: 0 8px;
}

.time-slot {
    padding-top: 45px;
    margin: 0;
}

.time-slot li {
    font-size: 16px;
    padding-bottom: 17px;
}

.time-slot-container {
    display: flex;
    justify-content: center;
}

.cell {
    width: 40px;
    height: 16px;
    padding: 0;
    background-color: #fff4f4;
    border: 1px solid black;
}

.inactive {
    background-color: #dc94bf;
}

.cell:nth-child(even) {
    border-top: 0;
}

.cell:nth-child(odd) {
    border-bottom: 0;
}

.time-slot-container table {
    margin: 0 0 0 0;
    padding-top: 5px;
}

.time-slot-container td:hover {
    background: white;
}

.selected-time-slot {
    background-color: #ff99cc;
}

.myformSubmit {
    border: 1px solid #9b9b9b;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 26px 0 40px;
    height: 30px;
    display: none;
    font-size: 24px;
}

.record-container {
    margin-top: 20px;
    width: 100%;
    background-color: #fedadd;
    box-shadow: 4px 8px;
    font-size: 54px;
}

.record-container span {
    opacity: 1;
    color: black;
    font-family: akrobat;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .calendar {
        width: 600px;
        margin-left: -300px;
        padding-bottom: 15px;
        top: 30%;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .calendar {
        width: 600px;
        margin-left: -300px;
        padding-bottom: 15px;
    }
    .cell {
        width: 40px;
        height: 16px;
    }
    .time-slot {
        padding-top: 40px;
        margin: 0;
    }
    .time-slot li {
        font-size: 16px;
        padding-bottom: 20px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .phone a {
        padding-left: 40px;
    }
    .calendar {
        width: 380px;
        margin-left: -190px;
        padding-bottom: 15px;
    }
    .cell {
        width: 30px;
        height: 16px;
    }
}


/* Landscape phones and smaller */

@media (max-width: 480px) {
    /*     .calendar {
        top: 50%;
        left: 80%;
        width: 380px;
        min-height: 480px;
        border-radius: 25px;
        margin-left: -300px;
        padding-bottom: 15px;
    } */
    .cell {
        width: 30px;
        height: 16px;
    }
    .record {
        padding: 20px;
        width: 200px;
        max-height: 400px;
    }
    .phone {
        padding: 15px 15%;
        box-shadow: 4px 8px;
    }
    .phone a:visited {
        color: black;
    }
    .phone_img {
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px 30px;
        width: 225px;
        height: 30px;
    }
    .record-container {
        margin-top: 20px;
        width: 100%;
        background-color: #fedadd;
        box-shadow: 4px 8px;
        font-size: 54px;
    }
    .email-tip {
        display: none;
        margin: 14px 18px 0 18px;
    }
    .time-slot-container {
        align-items: center;
    }
}

@font-face {
    font-family: notperfect;
    src: url('../ttf/11764.ttf');
}

@font-face {
    font-family: akrobat;
    src: url('../ttf/akrobat_regular.ttf');
}